on: 
  push:
    branches:
      - "main"

name: deployment to server

jobs:
  deployment:
    name: Deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Deployment
        uses: "./actions/"
    env:
      PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}